.reklama_elonlar {
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 143px;
}

.reklama_elonlar_container {
  max-width: 1440px;
  margin: 0 auto;
}


.reklama_elon_title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reklamalar_elon_card {
  width: 100%;
  height: auto;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 5px;
}

.reklamalar_elon_card_images {
  width: 100%;
  height: 431px;
}

.reklamalar_elon_card_footer {
  padding: 20px 0px 57px 30px;
}

.reklamalar_elon_card_footer_description {
  margin-bottom: 27px;
  height: 80px;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
  font-family: 'font600';
  max-width: 377px;
}

.reklamalar_elon_card_malumot_div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 35px 0px 0px;
}

.reklamalar_elon_card_text_div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.reklamalar_elon_card_text_and_icon {
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  font-family: 'font500';
  line-height: 21px;
  color: #333333;
  height: 30px;
}

.reklamalar_elon_card_footer_icons {
  color: #006AFF;
  font-size: 20px;
}

@media only screen and (max-width:1100px) {

  .reklamalar_elon_card_images {
    height: 450px;
  }

  .reklamalar_elon_card_footer {
    padding: 20px;
  }

  .reklamalar_elon_card_footer_description {
    margin-bottom: 20px;
    height: 50px;
    font-size: 20px;
    line-height: 28px;
    max-width: 350px;
  }

  .reklamalar_elon_card_malumot_div {
    padding: 0px;
  }

  .reklamalar_elon_card_text_div {
    gap: 30px;
  }

  .reklamalar_elon_card_text_and_icon {
    font-size: 16px;
    line-height: 18px;
    height: 20px;
  }
}

@media only screen and (max-width:768px) {
  .reklamalar_elon_card_images {
    height: 350px;
  }

  .reklama_elonlar {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width:700px) {
  .reklamalar_elon_card_images {
    height: 450px;
  }

  .reklama_elonlar {
    margin-bottom: 50px;
  }

  .reklamalar_elon_card_footer {
    padding: 30px;
  }

  .reklamalar_elon_card_footer_description {
    margin-bottom: 30px;
    height: 50px;
    font-size: 24px;
    line-height: 34px;
    max-width: 100%;
  }

  .reklamalar_elon_card_text_div {
    gap: 30px;
  }

  .reklamalar_elon_card_text_and_icon {
    font-size: 18px;
    line-height: 18px;
    height: 20px;
  }
}

@media only screen and (max-width:650px) {
  .reklama_elonlar {
    padding: 0px 10px;
  }
}


@media only screen and (max-width:500px) {
  .reklamalar_elon_card_images {
    height: 350px;
  }
}

@media only screen and (max-width:400px) {

  .reklama_elon_title {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .reklamalar_elon_card_images {
    width: 100%;
    height: 300px;
  }

  .reklamalar_elon_card_footer {
    padding: 20px;
  }

  .reklamalar_elon_card_footer_description {
    margin-bottom: 20px;
    font-size: 20px;
    height: 80px;
    line-height: 25px;
  }

  .reklamalar_elon_card_text_and_icon {
    font-size: 16px;
    line-height: 21px;
    height: 40px;
  }

}